{% extends "base.html" %} {% block title %}샐러리 팀 상황 보드{% endblock %}

{% block content %}

  <h1>샐러리 팀 상황 보드</h1>

  <div class="card mt-4">
      <div class="card-header">
          <h5>

          </h5>
      </div>
      <div class="card-body">
        <p>
          {% if user.is_authenticated %}
            <p>안녕하세요  {{ user.username }}</p>
            <a href="{% url 'todo:lists' %}" class="btn btn-primary">원격근무</a>
            <a href="{% url 'todo:list_detail' 4 "doctorsalary" %}" class="btn btn-primary">할일목록</a>
          {% else %}
            <p>
                ID는 본인 한글 성명
                비밀번호는 0000
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary">로그인</a>
          {% endif %}
        </p>
      </div>
    </div>


{% endblock %}
